<div class="container">
  <div class="row">
    <h1 style="font-size: smaller"> {{ appTitle | async }}</h1>
  </div>
  <div class="row">
    <div>
      <input type="text" class="form-control" [(ngModel)]="carName">
      <hr/>
      <button class="btn btn-sm btn-primary" (click)="getGETCars()">Загрузить машину</button>
      <button class="btn btn-sm btn-success" (click)="addPOSTCar()">Добавить машину</button>
      <hr/>
    </div>
  </div>
  <div class="row">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let car of cars">
        {{car.name}}
        <button class="btn btn-sm btn-info" (click)="setNewColor(car)">Изменить цвет</button>
        <button class="btn btn-sm btn-danger" (click)="deleteCar(car)">Удалить машину</button>
        <span class="badge" [ngStyle]="{background: car.color, color: 'white'}">
          {{car.id}}
        </span>
      </li>
    </ul>
  </div>
</div>
