<a routerLink="/cars">Обновить страницу</a>
<h2>Страница машин</h2>
<hr style="width: 500px;"/>
<div class="row">
  <div class="col-xs-4">
    <ul class="list-group">
      <li *ngFor="let car of cars" class="list-group-item">
        <a [queryParams]="{year: car.year, color: car.color}"
           [routerLink]="['/cars', car.id, car.name]"
           fragment="pic"
        >{{car.name}}</a>
      </li>
    </ul>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="col-xa-8">
    <router-outlet></router-outlet>
  </div>
</div>

