<div class="col-xs-8 col-xs-offset-2">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email"
             [class.border-danger]="form.get('email').invalid && form.get('email').touched"
      >
      <p *ngIf="form.get('email').invalid && form.get('email').touched">Введите коррекный емаил</p>
    </div>
    <div class="form-group">
      <label>Пароль</label>
      <input type="password" class="form-control" formControlName="pass"
             [class.border-danger]="form.get('pass').invalid && form.get('pass').touched"
      >
      <p *ngIf="this.form.get('pass').invalid && this.form.get('pass').touched">Не должен быть пустым</p>
    </div>
    <div class="form-group">
      <label>Выберите страну</label>
      <select class="form-control" formControlName="country">
        <option value="ru">Россия</option>
        <option value="by">Белоруссия</option>
        <option value="ua">Украина</option>
      </select>
    </div>
    <div *ngFor="let ans of answers" class="radio">
      <label>
        <input [value]="ans.type" formControlName="answer" type="radio">
        {{ans.text}}
      </label>
    </div>
    <button class="btn btn-success" type="submit" [disabled]="form.invalid">Сохранить</button>
  </form>
</div>


