<div class="col-xs-8 col-xs-offset-2">
  <form (ngSubmit)="submitForm()" #form="ngForm">
    <div ngModelGroup="user" #user="ngModelGroup">
      <div class="form-group" [ngClass]="{'has-error':email.invalid && email.touched}">
        <label>Email</label>
        <input type="text" class="form-control" name="email"
               ngModel email #email="ngModel" required>
        <p *ngIf="email.invalid && email.touched">Введите корректный емаил</p>
      </div>
      <button class="btn btn-primary" type="button" (click)="addRandomEmail()">Добавить емаил</button>
      <div class="form-group" [ngClass]="{'has-error':pass.invalid && pass.touched}">
        <label>Пароль</label>
        <input type="password" class="form-control" name="pass"
               ngModel #pass="ngModel" required>
        <p *ngIf="pass.invalid && pass.touched">Поле не может быть пустым</p>
      </div>
      <p *ngIf="user.invalid && user.touched"
         [ngStyle]="{'backgroundColor': 'red'}">Поля заполнены не корректно</p>
    </div>
    <div class="form-group">
      <label>Выберите страну</label>
      <select class="form-control" name="country"
              [ngModel]="defaultCountry" required>
        <option value="ru">Россия</option>
        <option value="by">Белоруссия</option>
        <option value="ua">Украина</option>
      </select>
    </div>
    <div class="radio" *ngFor="let ans of answers">
      <label>
        <input type="radio" [value]="ans.type" [ngModel]="defaultAnswer" name="answer">
        {{ans.text}}
      </label>
    </div>
    <button class="btn btn-success" type="submit" [disabled]="!form.valid">Сохранить</button>
  </form>
  <div *ngIf="isSubmitted"><pre>
    {{formData | json}}
  </pre>
  </div>
</div>


